.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6332 , #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
   
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    width: 160px;
    padding-left: 0;
    top: 125%;
    right: 0;
    list-style:none;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent  var(--white-color) transparent ;
    position: absolute;
    right: 4px;
    top: -32px;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    top: -20px;
    height: 20px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
    border-radius: 2px;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
    font-weight: 1.6rem;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255 ,255, 255 ,0.7);
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1.5px solid #f86c5c;
    height: 14px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    padding-left: 3px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__navbar-item:first-child:hover .header__qr{
    display: block;
}
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;    
    left: 0;
    top: -18px;
}
.header__qr-img{
    width: 100%; /*Khi padding nó chiếm hết width của header_qr*/
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 16px;
    margin-top: 14px;
}
.header__qr-link:nth-child(1){
    margin-left: 10px;
}
.header__qr-link:nth-child(2){
    margin-right: 10px;
}
/* Header notification */
.header__navbar-item-notify:hover .header__notify{
    display: block;
}
.header__notify{
    margin-top: 12px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: var(--white-color);
    cursor: default;
    transform-origin:  calc(100% - 32px) top;
    animation:headerNotifyGrowth ease-in 0.2s;
    border-radius: 2px;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
}
.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent  var(--white-color) transparent ;
    position: absolute;
    right: 4px;
    top: -34px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 90px;
    top: -20px;
    height: 20px;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    margin: 0 0 0 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
    user-select: none; /* set thuộc tính không cho copy*/
}
.header__notify-list{
    padding-left: 0;

}

.header__notify-item{
    display: flex;
    justify-content: space-between;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color:rgb(238, 77, 45 ,0.08);

}
.header__notify-link{
    display: flex;
    width: 100%;
    padding:12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.6rem;
    color:var(--text-color);
    font-weight: 400;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}
/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
    width: 500px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #a7a7a7;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
    margin-left: 8px;
}
.auth-form__socials--facebook{
    background-color: #3a5a98 !important;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 24px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid #eaeaea;
    margin: -2px 24px;
    height: 22px;
}
.auth-form__help-fogot{
    color: var(--primary-color);

}
/* Header search */
.header-with-search{
    /* height: var(--header-with-search-height); */
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__input{
    display: none;
}

.header__mobile-category-icon {
    font-size: 2rem;
}
.header__navbar-mobile{
    position: fixed;
    top: 68px;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s ,  opacity linear 0.2s ;
    display: none;
    z-index: 1;
}
.header__navbar-mobile-menu{
    margin-top: 24px;
    list-style: none;
}
.header__navbar-mobile-item a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
    display: block;
    padding: 16px 0;
}
.header__navbar-mobile-item a:hover {
    color: var(--primary-color);
}
.mobile-category-close{
    color: #666;
    position: absolute;
    width: 30px;
    height:16px;
    top: 1rem;
    right: 0;
    font-size: 1.8rem;
}
.header__mobile-category{
    display: none;
    padding-right: 12px;
    width: 28px;
    height: 28px;
    color: #fff;
    margin-left: 8px;
    display: none;
    animation: fadeIn linear 0.1s;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
    margin-left: -89px;
}
.header__mobile-category-icon,
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;    
    display: block;
    line-height: 0;
}
.header__search{
    flex: 1;
    display: flex;
    height: 40px;
    border-radius: 2px;
    align-items: center;
    background-color: var(--white-color);
}
.header__category-checkbox:checked  ~ .header__search{
    display: flex; 
}
.header__search-checkbox:checked  ~ .header__search{
    display: flex; 
}
/* Header cart */
.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
}
.header__cart-icon{
    font-size: 2.4rem;
    color:var(--white-color);
    margin-top: 6px;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
    -webkit-tap-highlight-color:transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 2px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    width: 360px;
    border-radius: 2px;
    right: -10px;
    background-color:var(--white-color);
    box-shadow: 0  2px 10px #ccc;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2;
    display: none;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height:56vh; /*view port height: chiều cao màn hình*/
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 42px;
    margin: 12px;
    height: 42px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info{
    margin-right:  12px;
    width: 100%;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    width: 200px;
    max-height: 2;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp: 2;
    text-align: left;
    overflow: hidden;
}

.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.header__cart-item-multipfy{
    color: #999;
    font-size:0.9;

}

.header__cart-item-quantity{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.header__cart-item-discription{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;

}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    color: var(--text-color);
}
.header__cart-view-cart:hover {
    background-color: #f05d41 !important;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 4px;
    cursor: pointer;
    top: -40px;
    border-width: 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart{
    padding: 28px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left:  auto;
    margin-right: auto;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color:var(--text-color);
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px ;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    border: 2px solid #ee4d2d;
    top: -8px;
    right: -6px;
}
/* header search */
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    margin-left: 12px;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: rgba(131,131,131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 3px;
    margin-right: 3px;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 4px );
    width: 130px;
    list-style: none;
    box-shadow:0 1px 1px 0 rgb(0 ,0 ,0 ,0.05);
    padding-left: 0;
    border-radius: 2px;
    z-index: 1;
    display: none;
}
.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -16px;
    position: absolute;
}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px;  
}
.header__search-option-item:hover {
    background-color:#fafafa; 
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search history */
.header__search-history{
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    width: 98%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 2;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    line-height: 38px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}
/* Header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    height: var(--header-sort-bar-height);
    /* display: flex; */
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    position: relative;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.btn-cart{
    width: 100px;
    text-align: right;
}
/* App container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading{
    font-size: 1.4rem;
    font-weight: 500;
    color:var(--text-color);
    padding: 16px 20px 0;
    margin-top: 0;
    text-transform: uppercase;
}
.category-list{
    padding:0 0 8px 0;
    list-style: none;
    display: block;
}
.category-item{
    position: relative;
    padding: 8px 16px;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}
.category-item-active .category-item__link{
    color:var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color:var(--text-color);
    font-weight: 500;
    padding-left:  4px;
    display: block;

}
.category-item__link:hover{
    color: var(--primary-color);
}

/* Mobile category */
.mobile-category{
    display: none;
}

.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}

.mobile-category__item{
    flex-shrink: 0;
    margin-left: 10px;
}
.mobile-category__item:nth-of-type(3n +1) .mobile-category__link {
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n +2) .mobile-category__link {
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n +3) .mobile-category__link {
    background-color: #88cf81;
}
.mobile-category__link{
    text-decoration: none;
    display: block;
    color: var(--white-color);
    --line-height: 2rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    text-align: center;
    width: 110px;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select:none;
    padding: 0 5px;
}


/* Selection */
.select-input{
    position: relative;
    display: flex;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgba(131,131,131);
    top: 1px;
    position: relative;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 21px;
    padding: 14px 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    list-style: none;
    z-index: 1;
}
.select-input__list::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -12px;
    left: 0;
    position: absolute;
}
.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 7px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* Home  sort + filter*/

.home-filter{
    display:flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.03);
}
.home-filter__page{
    display: flex;
    align-items: center;
}
.home-filter__label{
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px  !important;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    margin-right: 22px;
    color: var(--text-color);
    margin-right: 22px;
    font-size: 1.4rem;
}
.home-filter__page-curent{
    color:var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    border: 1px solid rgba(0,0,0,0.01);
}
.home-filter__page-btn:first-child{
    border-right: 1px 0 0 0  solid #eee;
}
.home-filter__page-btn{
    flex:1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--text-color);
}
.home-filter__page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn-disabled .home-filter__page-icon{
    color: #ccc;

}
.home-filter__page-icon{
    margin: auto;
    color: #555;
    font-size: 1.4rem;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}

.home__product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.01);
    transition: tranform ease-in 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home__product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
}
.home__product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-position: top center; /* ảnh dài quá thì cho nó ở giữa trung tâm*/
}

.home__product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.8rem;
    css chữ hiện trên 1 dòng
     */
}

.home__product-item-price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home__product-item-price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration:line-through ;
}
.home__product-item-price-current{
    font-size: 1.6rem;
    color:var(--primary-color);
    margin-left: 10px;

}
.home__product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home__product-item__like{
    font-size: 1.2rem;
}
i.home__product-item__like-icon-fill{
    color: var(--primary-color);
    display: none;
}
.home__product-item__like--liked .home__product-item__like-icon-fill{
    display: inline-block;
}
.home__product-item__like--liked .home__product-item__like-icon-empty{
    display: none;
}
.home__product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left:  auto;

}
.home__product-item__star--gold{
    color: var(--star-gold-color);
}
.home__product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home__product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
    color: rgba(0,0,0,0.65);
    font-size: 1.2rem;
    font-weight: 300;

}

.home__product-item__favory{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home__product-item__favory i{
    font-size: 0.9rem;
    color: var(--white-color);
    margin:0 2px 0 5px;
}
.home__product-item__favory::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}
.home__product-item__favory span{
    color: var(--white-color);
}
.home__product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}
.home__product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3.8px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor ;
}
.home__product-item__sale-off-percent{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;

}
.home__product-item__sale-off-label{
    font-size: 1.3rem;
    color: var(--white-color);
    line-height: 1.3rem;
    position: relative;
    top: 2px;
    font-weight: 600;

}

.home-product__pagination{
    margin: 50px 0 32px 0 ;
    padding-left: 0;
}
/* Pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 8px;
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    display: block;
    --height:30px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height:var(--height);
    line-height:var(--height);
    border-radius: 2px;
}

/* Footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: block;    
    line-height: 2.2rem;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);

}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__download-app-img{
    height: 16px;
}
.footer__bottom{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    text-align: center;
    color: #737373;
    font-size: 1.4rem;
}